:root {
  --button-size: 30px;
  --button-border-size: 29px;
  --button-border-ident: -29px;

  --sidebar-item-size: 20px;
  --sidebar-item-border-size: 19px;
  --sidebar-item-border-ident: -19px;
  /* colors */
  --ORANGE-120: #e87928;
  --ORANGE-100: #ff8b37;
  --ORANGE-80: #ffac70;
  --ORANGE-5: #fff3eb;

  --GREEN-100: #47d867;
  --GREEN-5: #e6faea;

  --RED-100: #ec6259;
  --RED-5: #fdeeed;

  --BLACK-100: #1c1c21;
  --BLACK-40: #d0d0d8;
  --BLACK-5: #f5f5f7;

  --WHITE-100: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--BLACK-5);
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  font-weight: 600;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.start-page-wrapper {
  background: linear-gradient(
    to right bottom,
    var(--WHITE-100) 50%,
    var(--ORANGE-5) 50%
  );
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.main-block {
  display: flex;
  margin: 25vh auto 0;
  width: 80%;
}

.main-image-container {
  height: 80%;
  width: 80%;
}

.main-headline-content {
  margin-top: 5%;
}

.score-heading {
  color: var(--BLACK-40);
  font-size: 32px;
  min-width: 35vw;
}

.start-title {
  font-size: 3.5vw;
  font-style: normal;
  min-width: 35vw;
}

.game-container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 430px;
}

.question-container {
  padding-left: 5%;
  padding-top: 8%;
}

.question-container-headline {
  font-size: 32px;
  padding-right: 1em;
}

.answers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 50vh;
  max-width: 780px;
}

.menu-burger {
  background: transparent;
  border: transparent;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 2em;
  top: 2em;
  z-index: 1;
}

@media (max-width: 1230px) {
  .main-block {
    margin-top: 30vh;
  }
  .answers-container {
    padding-top: 40vh;
  }

  .menu-burger {
    display: block;
  }
}

@media (max-width: 840px) {
  .main-block {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .main-headline-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .start-title {
    font-size: 35px;
    text-align: center;
  }

  .score-heading {
    text-align: center;
  }

  .question-container-headline {
    text-align: center;
    padding-top: 5em;
  }

  .answers-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 4.5em);
    margin: 0 auto;
    max-width: 390px;
    padding-top: 30vh;
  }
}

@media (max-width: 540px) {
  .question-container {
    padding-left: 0;
    padding-top: 1%;
  }

  .question-container-headline {
    padding-left: 3%;
    padding-top: 3em;
  }

  .menu-burger {
    right: 1em;
  }
}

@media (max-width: 390px) {
  .answers-container {
    margin: 0 auto;
  }

  .menu-burger {
    right: -30px;
  }
}
